{% extends 'layout.html' %}

    {% block body %}

        <div class="container">
            <h1 id="about" class="text-center p-2 mt-5 mb-5">Make your own videos and create unforgettable memories!</h1>
            <div class="w-100 bg-light text-center p-5 mb-5">
                <p>Hello! This application was created in August/2025 as a final project for an Introduction to Computer Science course.</p>
                <p>The goal of the application is to combine photos and videos into a beautiful and unique memory.</p>
                <p>If you want to combine your photos/videos into a single video, you've come to the right place.</p>
                <p>First, you will need to upload the photos/videos you want to combine. Then, you'll need to upload these selected files.</p>
                <p>After uploading, you'll be able to process the video.</p>
                <p>Currently, the default time for each photo is 3 seconds with a fade-in/fade-out effect and a resolution of 1920x1080.</p>
                <p>Finally, don't forget to download the video. I hope you enjoy it!</p>
            </div>

        </div>
        <div class="card-body">
            <a class="navbar-brand" href="/">
                <h1 class="text-center mt-5">InVideo</h1>
            </a>
        </div>
    {% endblock %}